﻿@using AdvancedSearchModels.Types
@model AdvancedSearchMvc.ViewModels.AdvancedSearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <style>
        .dd-handle { height: 35px; }

        /**
         * Nestable Extras
         */

        .nestable-lists {
            display: block;
            clear: both;
            padding: 30px 0;
            width: 100%;
            border: 0;
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
        }

        #nestable-menu {
            padding: 0;
            margin: 20px 0;
        }

        #nestable-output,
        #nestable2-output {
            width: 100%;
            height: 7em;
            font-size: 0.75em;
            line-height: 1.333333em;
            font-family: Consolas, monospace;
            padding: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        #nestable2 .dd-handle {
            color: #fff;
            border: 1px solid #999;
            background: #bbb;
            background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
            background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
            background: linear-gradient(top, #bbb 0%, #999 100%);
        }

        #nestable2 .dd-handle:hover { background: #bbb; }

        #nestable2 .dd-item > button:before { color: #fff; }

        .dd-hover > .dd-handle { background: #2ea8e5 !important; }

        /**
         * Nestable Draggable Handles
         */

        .dd3-content {
            display: block;
            height: 35px;
            margin: 5px 0;
            padding: 5px 10px 5px 40px;
            color: #333;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background: linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .dd3-content:hover {
            color: #2ea8e5;
            background: #fff;
        }

        .dd-dragel > .dd3-item > .dd3-content { margin: 0; }

        .dd3-item > button { margin-left: 30px; }

        .dd3-handle {
            position: absolute;
            margin: 0;
            left: 0;
            top: 0;
            cursor: pointer;
            width: 30px;
            text-indent: 30px;
            white-space: nowrap;
            overflow: hidden;
            border: 1px solid #aaa;
            background: #ddd;
            background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
            background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
            background: linear-gradient(top, #ddd 0%, #bbb 100%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .dd3-handle:before {
            content: '≡';
            display: block;
            position: absolute;
            left: 0;
            top: 6px;
            width: 100%;
            text-align: center;
            text-indent: 0;
            color: #fff;
            font-size: 20px;
            font-weight: normal;
        }

        .dd3-handle:hover { background: #ddd; }
    </style>
}

<div class="container">
    <div class="jumbotron">
        <h1>Advanced Search</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-lg-offset-7">
        <p id="counts">Counts</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="KeywordSearch.SearchValue"></label>
                <input asp-for="KeywordSearch.SearchValue" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="TablesAndColumnsParameterSearchValue"></label>
                <input asp-for="TablesAndColumnsParameterSearchValue" class="form-control"/>
            </div>

            <div id="tableColumnTree" class="hidden"></div>

            <br/>

            <button type="button" class="btn btn-primary" id="searchButton">Search</button>
        </div>

        <div class="col-md-10">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <h2 id="chosenColumnNameDisplay" class="hidden"></h2>
                        <input asp-for="ParameterSearch.ChosenColumnName" type="hidden"/>
                    </div>
                    <div class="form-group form-inline" id="keywordSearchValues">
                        <select asp-for="KeywordSearch.SearchType" asp-items="@Html.GetEnumSelectList<KeywordSearchTypes>()" class="form-control"></select>
                        <input asp-for="KeywordSearch.SearchValue" class="form-control"/>
                    </div>
                    <div class="form-group form-inline hidden" id="parameterSearchValues">
                        <select asp-for="ParameterSearch.SearchTextType" asp-items="@Html.GetEnumSelectList<ParameterSearchTextTypes>()" class="form-control"></select>
                        <select asp-for="ParameterSearch.SearchNumberType" asp-items="@Html.GetEnumSelectList<ParameterSearchNumberTypes>()" class="form-control hidden"></select>
                        <input asp-for="ParameterSearch.SearchValue" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-12 hidden" id="categoryList">
                    <button id="exampleCategoryButton" type="button" class="btn btn-primary btn-block hidden">Example Button</button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="queryString">Search Parameter Settings</label>
                <textarea class="form-control" id="queryString" readonly="readonly"></textarea>

                <div class="dd" id="queryList">
                    <ol class="dd-list">
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var keywordSearchValueId = "@Html.IdFor(m => m.KeywordSearch.SearchValue)";
        var keywordSearchTypeId = "@Html.IdFor(m => m.KeywordSearch.SearchType)";

        var tablesAndColumnsParameterSearchValueId = "@Html.IdFor(m => m.TablesAndColumnsParameterSearchValue)";

        var parameterSearchValueId = "@Html.IdFor(m => m.ParameterSearch.SearchValue)";
        var parameterSearchTextTypeId = "@Html.IdFor(m => m.ParameterSearch.SearchTextType)";
        var parameterSearchNumberTypeId = "@Html.IdFor(m => m.ParameterSearch.SearchNumberType)";

        var $keywordSearchInput = $("#" + keywordSearchValueId);
        var $keywordSearchInputs = $("[id=" + keywordSearchValueId + "]");
        var $keywordSearchTypeInput = $("#" + keywordSearchTypeId);

        var $tablesAndColumnsParameterSearchInput = $("#" + tablesAndColumnsParameterSearchValueId);
        var $tableColumnTree = $("#tableColumnTree");

        var $parameterSearchInput = $("#" + parameterSearchValueId);
        var $parameterSearchTextTypeInput = $("#" + parameterSearchTextTypeId);
        var $parameterSearchNumberTypeInput = $("#" + parameterSearchNumberTypeId);

        var $searchButton = $("#searchButton");

        var $chosenColumnNameDisplay = $("#chosenColumnNameDisplay");

        var $categoryList = $("#categoryList");
        var $exampleCategoryButton = $("#exampleCategoryButton");

        var $queryString = $("#queryString");
        var $queryList = $("#queryList");

        // This is meant to keep the two keyword search inputs in sync
        // with each other.
        function activateKeywordSearchInputSynchronization() {
            $keywordSearchInputs.on("input",
                function() {
                    $keywordSearchInputs.not(this).val($(this).val());
                    doKeywordSearch();
                });
        }

        // As the user types into the parameter search input we want to
        // dynamically detect when to show the number type search drop
        // down and when to show the text type search drop down.
        function activateParameterSearchDropDownToggling() {
            $parameterSearchInput.on("input",
                function() {
                    if (isNaN($(this).val())) {
                        $parameterSearchTextTypeInput.removeClass("hidden");
                        $parameterSearchNumberTypeInput.addClass("hidden");

                        doParameterTextSearch();
                    } else {
                        $parameterSearchTextTypeInput.addClass("hidden");
                        $parameterSearchNumberTypeInput.removeClass("hidden");

                        doParameterNumberSearch();
                    }
                });
        }

        // This is for choosing which set of inputs to show in the middle for
        // advanced search (Keyword search inputs or parameter search inputs).
        // It also handles clearing out the value of the one that isn't currently
        // chosen.
        function activateInputTogglingAndValueClearing() {
            // If I click on / focus on a keyword search input field then I want
            // to hide the parameter search inputs.
            $keywordSearchInputs.on("focus", keywordSearchInputsFocused);

            // If I click on / focus on a tables and columns search input
            // field then I want to hide the keyword search inputs.
            $tablesAndColumnsParameterSearchInput.on("focus", tablesAndColumnsFocused);
        }

        // This is for triggering an update to the displayed categories
        // if the drop downs have their values changed.
        function activateSearchTypeChangeEvent() {
            $keywordSearchTypeInput.on("input", doKeywordSearch);
            $tablesAndColumnsParameterSearchInput.on("input", doTablesAndColumnsSearch);
            $parameterSearchTextTypeInput.on("input", doParameterTextSearch);
            $parameterSearchNumberTypeInput.on("input", doParameterNumberSearch);
        }

        // This performs the final query using the user built query on the right.
        function activateSearchButtonClickEvent() {
            $searchButton.on("click", doQuery);
        }

        function keywordSearchInputsFocused() {
            if ($("#keywordSearchValues").hasClass("hidden")) {
                $categoryList.find("button").not(".hidden").remove();
            }
            showKeywordSearchControls();
        }

        function tablesAndColumnsFocused() {
            if ($("#parameterSearchValues").hasClass("hidden")) {
                $categoryList.find("button").not(".hidden").remove();
            }
            showParameterSearchControls();
        }

        function showKeywordSearchControls() {
            $parameterSearchNumberTypeInput.addClass("hidden");
            $parameterSearchTextTypeInput.removeClass("hidden");

            $("#parameterSearchValues").addClass("hidden");
            $("#keywordSearchValues").removeClass("hidden");
            $chosenColumnNameDisplay.addClass("hidden");
        }

        function showParameterSearchControls() {
            $("#keywordSearchValues").addClass("hidden");
            $("#parameterSearchValues").removeClass("hidden");

            if ($chosenColumnNameDisplay.text() !== "") {
                $chosenColumnNameDisplay.removeClass("hidden");
            }
        }

        // Call this when you're ready to create the nestable list.
        function initializeNestableList() {
            $queryList.nestable({
                maxDepth: 2,
                effect: {
                    animation: "fade"
                },
                contentCallback: function(item) {
                    var content =
                        "<button class='btn btn-icon btn-danger btn-xs'>" +
                            "<span class='glyphicon glyphicon-trash'></span>" +
                            "</button>" +
                            "&nbsp;" +
                            "<button class='btn btn-icon btn-primary btn-xs'><span class='badge'>" +
                            item.id +
                            "</span></button>&nbsp;" +
                            item.category +
                            " " +
                            item.searchType +
                            " '" +
                            item.searchValue +
                            "'";
                    return content;
                },
                handleNodeName: "div",
                handleClass: "dd-handle dd3-handle",
                contentNodeName: "div",
                contentClass: "dd3-content",
                itemRenderer: function(item_attrs, content, children, options, item) {
                    var item_attrs_string = $.map(item_attrs,
                        function(value, key) {
                            return ' ' + key + '="' + value + '"';
                        }).join(' ');

                    var html = '<' + options.itemNodeName + item_attrs_string + '>';
                    html += '<' + options.handleNodeName + ' class="' + options.handleClass + '">';
                    html += "Drag";
                    html += '</' + options.handleNodeName + '>';
                    html += '<' + options.contentNodeName + ' class="' + options.contentClass + '">';
                    html += content;
                    html += '</' + options.contentNodeName + '>';
                    html += children;
                    html += '</' + options.itemNodeName + '>';

                    return html;
                }
            }).on("change", updateQueryString);

            activateButtonDeleteEvent();
        }

        // This is for attaching to the button click event on the
        // buttons that have a trash icon in them (this is for
        // deleting the parts of the query that the user chose to
        // delete by clicking the delete button).
        // Does not currently work since nestable attaches to the
        // draggable divs' click event as well.
        function activateButtonDeleteEvent() {
            $queryList.on("click",
                "button.btn-danger",
                function() {
                    var id = $(this).parent("div.dd3-content").find("button.btn-icon > span.badge").text();
                    $queryList.nestable("remove", id);
                });
        }

        // This is for updating the counts on the screen. It gets
        // called on successful completion of an ajax request.
        function updateCounts(modelCounts) {
            $("#counts").text("Counts should get updated here " + new Date().toTimeString());
        }

        // This is for updating the list of items displayed in the
        // center of the screen. When these items get clicked on
        // then the query portion of the screen also gets updated.
        function updateCategories(categories) {
            // Clear out the list of categories except for the example button.
            $categoryList.find("button").not($exampleCategoryButton).remove();

            // If the search results in us having data to display
            // then we will create the list of items to display on
            // screen and then remove the hidden class to allow the
            // list to appear.
            if (categories.length > 0) {
                for (var i = 0; i < categories.length; i++) {
                    var newButton = $exampleCategoryButton.clone()
                        .removeAttr("id")
                        .text(categories[i])
                        .removeClass("hidden")
                        .click(categoryClicked);

                    $categoryList.append(newButton);
                }

                $categoryList.removeClass("hidden");
            } else {
                $categoryList.addClass("hidden");
            }
        }

        // This is for updating the query panel each time the user
        // clicks on a category button.
        var arrayCount = 0;

        function categoryClicked() {
            var chosenCategory = $(this).text();
            var chosenSearchType = $keywordSearchTypeInput.find("option:selected").text();
            var chosenSearchValue = $keywordSearchInput.val();

            if ($("#keywordSearchValues").hasClass("hidden")) {
                chosenCategory = $chosenColumnNameDisplay.text();
                chosenSearchValue = $(this).text();

                if (isNaN(chosenSearchValue)) {
                    chosenSearchType = $parameterSearchTextTypeInput.find("option:selected").text();
                } else {
                    chosenSearchValue = $parameterSearchNumberTypeInput.find("option:selected").text();
                }
            }

            if (arrayCount === 0) {
                initializeNestableList();
            }

            $queryList.nestable("add",
                {
                    id: ++arrayCount,
                    category: chosenCategory,
                    searchType: chosenSearchType,
                    searchValue: chosenSearchValue
                });

            $(".dd-empty").remove();
            updateQueryString();
        }

        // Call this anytime the list on the right gets updated and the input
        // above it needs to update its text to match.
        function updateQueryString() {
            var listValues = $queryList.nestable('serialize');
            var value = "";

            for (var i = 0; i < listValues.length; i++) {
                // If this is not the first value then I need to add an AND and
                // a space.
                if (i !== 0) {
                    value = value + " AND ";
                }

                // If I have no children then I am safe to add this on as an AND
                // without parentheses.
                if (listValues[i].children === undefined || listValues[i].children.length === 0) {
                    value = value + listValues[i].id;
                }
                // Otherwise I must have children and I need to AND this value on
                // inside of parentheses and then add all the children on as ORs.
                else {
                    value = value + "( " + listValues[i].id;

                    for (var j = 0; j < listValues[i].children.length; j++) {
                        value = value + " OR " + listValues[i].children[j].id;
                    }

                    // Now I need to finish off the parentheses.
                    value = value + " )";
                }
            }

            $queryString.val(value);
        }

        // https://stackoverflow.com/a/2219966
        // Used to delay ajax calls until user is done inputting values.
        var smallDelayTimer = (function() {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            }
        })();

        // This is meant to be used to perform the ajax calls so as to
        // prevent flooding the server with requests everytime the user
        // types something. It adds a short delay before making the
        // request to allow the user to finish typing first.
        function ajaxCall(url, data, successCallback) {
            smallDelayTimer(function() {
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: data,
                        success: function(response) {
                            console.log("Success was called:");
                            console.dir(response);
                            successCallback(response);
                        },
                        error: function(response) {
                            console.log("Error for some reason:");
                            console.dir(response);
                        },
                        always: function(response) {
                            console.log("Always was called:");
                            console.dir(response);
                        }
                    });
                },
                300);
        }

        // Use this to get the ajax call friendly data from the query
        // tab of the page.
        function getQueryData() {
            var queries = $queryList.nestable("serialize");

            var queryData = [];

            for (var i = 0; i < queries.length; i++) {
                var newQuery = {
                    Category: queries[i].category,
                    SearchType: queries[i].searchtype,
                    SearchValue: queries[i].searchvalue,
                    ChildQueries: []
                };

                // Check for children and then add them if they exist.
                if (queries[i].children !== undefined && queries[i].children.length > 0) {
                    for (var j = 0; j < queries[i].children.length; j++) {
                        var newChildQuery = {
                            Category: queries[i].children[j].category,
                            SearchType: queries[i].children[j].searchtype,
                            SearchValue: queries[i].children[j].searchvalue
                        };

                        newQuery.ChildQueries.push(newChildQuery);
                    }
                }

                queryData.push(newQuery);
            }

            return queryData;
        }

        function updateCountsAndCategories(searchResult) {
            updateCounts(searchResult.modelCounts);
            updateCategories(searchResult.categories);
        }

        // Call this after receiving the response from a call to TablesAndColumnsSearch.
        // This will destroy the current tree and create a new one using the new data.
        function updateTablesAndColumnsDisplay(searchResult) {
            var instance = $tableColumnTree.jstree(true);

            if (instance !== false) {
                instance.destroy();
            }

            var newTree = [];

            for (var i = 0; i < searchResult.length; i++) {
                var newTableNode = {
                    text: searchResult[i].table,
                    state: {
                        opened: false,
                        disabled: true
                    },
                    children: []
                };

                if (searchResult[i].columns !== undefined && searchResult[i].columns.length > 0) {
                    for (var j = 0; j < searchResult[i].columns.length; j++) {
                        var newColumnNode = {
                            text: searchResult[i].columns[j]
                        };

                        newTableNode.children.push(newColumnNode);
                    }
                }

                newTree.push(newTableNode);
            }

            $tableColumnTree.jstree({
                core: {
                    data: newTree,
                    themes: {
                        icons: false
                    }
                }
            });

            $tableColumnTree.on("select_node.jstree",
                function(e, data) {
                    var chosenColumn = data.instance.get_selected(true)[0].text;
                    if (chosenColumn !== "") {
                        $chosenColumnNameDisplay.text(chosenColumn);
                        showParameterSearchControls();
                        $chosenColumnNameDisplay.removeClass("hidden");

                        if (isNaN($parameterSearchInput.val())) {
                            doParameterTextSearch();
                        } else {
                            doParameterNumberSearch();
                        }
                    }
                });

            $tableColumnTree.removeClass("hidden");
        }

        function doKeywordSearch() {
            var searchType = $keywordSearchTypeInput.val();
            var searchValue = $keywordSearchInput.val();

            if (searchType !== "" && searchValue !== "") {
                var url = "http://localhost:59168/api/AdvancedSearch/KeywordSearch";
                var data = {
                    searchType: searchType,
                    searchValue: searchValue
                };

                ajaxCall(url,
                    data,
                    updateCountsAndCategories);
            }
        }

        function doTablesAndColumnsSearch() {
            var searchValue = $tablesAndColumnsParameterSearchInput.val();

            var url = "http://localhost:59168/api/AdvancedSearch/TablesAndColumnsSearch";
            var data = {
                searchValue: searchValue
            };

            ajaxCall(url,
                data,
                updateTablesAndColumnsDisplay);
        }

        function doParameterTextSearch() {
            var searchType = $parameterSearchTextTypeInput.val();
            var searchValue = $parameterSearchInput.val();
            var chosenColumnName = $chosenColumnNameDisplay.text();

            if (searchType !== "" && chosenColumnName !== "") {
                var url = "http://localhost:59168/api/AdvancedSearch/ParameterTextSearch";
                var data = {
                    searchTextType: searchType,
                    searchValue: searchValue,
                    chosenColumnName: chosenColumnName
                };

                ajaxCall(url,
                    data,
                    updateCountsAndCategories);
            }
        }

        function doParameterNumberSearch() {
            var searchType = $parameterSearchNumberTypeInput.val();
            var searchValue = $parameterSearchInput.val();
            var chosenColumnName = $chosenColumnNameDisplay.text();

            if (searchType !== "" && chosenColumnName !== "") {
                var url = "http://localhost:59168/api/AdvancedSearch/ParameterNumberSearch";
                var data = {
                    searchNumberType: searchType,
                    searchValue: searchValue,
                    chosenColumnName: chosenColumnName
                };

                ajaxCall(url,
                    data,
                    updateCountsAndCategories);
            }
        }

        function doQuery() {
            var url = "http://localhost:59168/api/AdvancedSearch/Query";
            var data = getQueryData();

            smallDelayTimer(function() {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: url,
                        type: "POST",
                        data: JSON.stringify(data),
                        success: function(response) {
                            console.log("Success was called:");
                            console.dir(response);
                            alert(response.response);
                        },
                        error: function(response) {
                            console.log("Error for some reason:");
                            console.dir(response);
                        },
                        always: function(response) {
                            console.log("Always was called:");
                            console.dir(response);
                        }
                    });
                },
                300);
        }

        activateKeywordSearchInputSynchronization();
        activateInputTogglingAndValueClearing();
        activateParameterSearchDropDownToggling();
        activateSearchTypeChangeEvent();
        activateSearchButtonClickEvent();
        doTablesAndColumnsSearch();
    </script>
}